body {
    overflow-x: hidden; 
    overflow-y: hidden;
}

bg {
    height:1000px;
    width:100%;
    text-align:center;
    background:url(Images/bodyback.png) fixed no-repeat ;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    z-index: -1;
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
    
    position: absolute;
    left:0px;
    bottom: 0px;
    top: 0px;
}
/* No-blur damit es leserlich bleibt */
p{
	-webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
}
/* Position des Login Form/Container*/
.container {
   /* wenn ma width ändert verschiebt sich der dialog in eine richtung.. wiso auch immer.. */
  width: 350px;
  height: 250px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
 /* Login Balken oben */
.login {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 10px;
  width: 310px;
}
 /*Login Button rechts*/
.login p.submit {
  text-align: right;
}
  /* "Forgot your password? Click here to reset it" Text Größe und Abstand usw */
.login-help {
  margin: 20px 0;
  font-size: 12px;
  color: white;
  text-align: center;
  text-shadow: 0 1px #2a85a1;
}
 /*forgot your passwort link farbe*/
.login-help a {
  color: #cce7fa;
  text-decoration: none;
}
 /*Click here to reset it text unterstreichen wenn maus drüber*/
.login-help a:hover {
  text-decoration: underline;
}
 /*Logindaten Platzhalter info*/
:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}
  /*Logindaten Platzhalter info*/
::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

.login:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
}
 
.login h1 {
  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #555;
  text-align: center;
  text-shadow: 0 1px white;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
}
 /* Abstand zwischen username Feld und Passwort Feld*/
  .login p {
  margin: 20px 0 0;
}
 
.login p:first-child {
  margin-top: 0;
}
 /* Breite der Login Felder*/
.login input[type=text], .login input[type=password] {
  width: 278px;
}
 /* Remember Feld Abstand zu Passwort Feld*/
.login p.remember_me {
  float: left;
  line-height: 31px;
}
 /* Remember me Schriftart und Farbe "Angemeldet bleiben" */
.login p.remember_me label {
  font-size: 12px;
  color: #777;
  cursor: pointer;
}
 /* Radiobutton Position und Abstand usw*/
.login p.remember_me input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
}
/* Schrift größe der Anmeldedaten*/
input {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 14px;
}
 /* Design der Eingabefelder */
input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
 /* Blauer Rand beim Anklicken der Eingabefeler */
input[type=text]:focus, input[type=password]:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}
 /* Login Button, padding, höhe, schatten, farbe */
input[type=submit] {
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  text-shadow: 0 1px #e3f1f1;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 16px;
  outline: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: -webkit-linear-gradient(top, #edf5f8 0%, #cde5ef 100%);
  background-image: -moz-linear-gradient(top, #edf5f8 0%, #cde5ef 100%);
  background-image: -o-linear-gradient(top, #edf5f8 0%, #cde5ef 100%);
  background-image: linear-gradient(to bottom, #edf5f8 0%, #cde5ef 100%);
  -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}
 /* Animation wenn Login Button gedrückt wird*/
input[type=submit]:active {
  background: #cde5ef;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

/* To remember Login Daten*/

input[type=checkbox],
input[type=radio] {
border: 1px solid #c0c0c0;
margin: 0 0.1em 0 0;
padding: 0;
font-size: 16px;
line-height: 1em;
width: 1.25em;
height: 1.25em;
background: #fff;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ededed), to(#fbfbfb));
 
-webkit-appearance: none;
-webkit-box-shadow: 1px 1px 1px #fff;
-webkit-border-radius: 0.25em;
vertical-align: text-top;
display: inline-block;
 
}
 
input[type=radio] {
-webkit-border-radius: 2em ; /* Make radios round */
}
 
input[type=checkbox]:checked::after {
content:"âœ”";
display:block;
text-align: center;
font-size: 16px;
height: 16px;
line-height: 18px;
}
 
input[type=radio]:checked::after {
content:"â—";
display:block;
height: 16px;
line-height: 15px;
font-size: 20px;
text-align: center;
}
 
select {
border: 1px solid #D0D0D0;
background: url(http://www.quilor.com/i/select.png) no-repeat right center, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fbfbfb), to(#ededed));
background: -moz-linear-gradient(19% 75% 90deg,#ededed, #fbfbfb);
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
color: rgba(0,0,0,0.5);
}